@import "tailwindcss";

@theme {
    --default-font-family:  "Kanit", "sans-serif";

    --color-base-100: oklch(30.33% 0.016 252.42);
    --color-base-200: oklch(25.26% 0.014 253.1);
    --color-base-300: oklch(20.15% 0.012 254.09);
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: oklch(58% 0.233 277.117);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(58% 0.233 277.117);
    --color-secondary-content: oklch(96% 0.018 272.314);
    --color-accent: oklch(60% 0.25 292.717);
    --color-accent-content: oklch(96% 0.016 293.756);
    --color-neutral: oklch(37% 0.044 257.287);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(60% 0.118 184.704);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(66% 0.179 58.318);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.21875rem;
    --size-field: 0.21875rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 0;
}

body {
    background-color: oklch(30.33% 0.016 252.42);
    color: #ecfeff;
}

/* custom scrollbar */
.scroller {
    scrollbar-gutter: stable;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    transition: scrollbar-color 2s ease-in-out;
}

.scroller:hover {
    scrollbar-color: #45556c transparent;
}

/* add cursor pointer & margin left on the closing cross of the search input */
/* https://stackoverflow.com/questions/47041672/change-the-color-of-the-clear-button-x-in-input-type-search#75715124 */
form input[type="search"]::-webkit-search-cancel-button {
    margin-left: 1rem;
    -webkit-appearance: none;
    background-color: #ecfeff;
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}